opamain {
    padding: 16px;
    display: flex;
    flex-flow: column;
}

opaSettingsContainer {
	display: flex;
	flex-flow: column;
	margin-top: 36px;
}

opaSettingsHeader {
	display: flex;
	max-width: 800px;
	margin-bottom: 18px;
	flex-flow: column;
}

opaSettingsPartsContainer {
	display: flex;
	flex-flow: column;
}

opaSettingsCol {
	display: flex;
	flex-flow: column;
}

opaSettingsRow {
	display: flex;
	flex-flow: row;
}

opaItem * {
	width: 100%;
}

.opaSettingsInput {
	width: 300px;
	position: relative;
	display: inline-flex;
	align-items: center;
}

.opaSettingsInput input {
	padding-right: 18px;
	box-sizing: border-box;
}

.opaSettingsInput deleteIcon {
	position: absolute;
	display: block;
	right: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	color: var(--color-text-maxcontrast);
	background-color: var(--color-background-dark);
	font: 13px monospace;
	text-align: center;
	line-height: 1em;
	cursor: pointer;
}

.yesNo span.checkbox-content__text.checkbox-radio-switch__text {
	width: 50px !important;
	justify-content: center;
	text-wrap: nowrap;
}

.withSimpleBottomMargin {
	margin-bottom: 4px;
}

.withDoubleBottomMargin {
	margin-bottom: 8px;
}

.opaSettingsLabel {
	min-width: 200px;
}

.opaSettingsImage {
	align-items: center;
	display: flex;
	justify-content: center;
}

.opaClickable {
	cursor: pointer;
}